In [1]:
import pandas as pd
import numpy as np

In [2]:
amazon_sales = pd.read_csv("amazon_sales_data.csv")
amazon_sales.head()

,order_id,order_date,ship_date,delivery_date,order_status,customer_id,customer_name,country,state,city,...,product_name,category,sub_category,brand,quantity,unit_price,discount,shipping_cost,total_sales,payment_method
0,A10000,2026-01-31,2026-01-31,2026-01-08,Delivered,C5691,Ricky Potter,India,South Carolina,New Joe,...,without,Home,Furniture,Doyle-Jordan,3,42467.79,0.26,60.85,94339.3438,Card
1,A10001,2026-01-20,2026-02-03,2026-02-03,Delivered,C9811,Chris Davenport,India,Tennessee,Madisonmouth,...,school,Home,Furniture,Davis LLC,2,36138.76,0.24,112.96,55043.8752,COD
2,A10002,2026-01-15,2026-02-07,2026-01-03,Delivered,C7341,Timothy Gallagher,India,Iowa,East Larryberg,...,I,Electronics,Laptop,Watson and Sons,4,47148.93,0.14,64.11,162256.4292,UPI
3,A10003,2026-01-18,2026-01-15,2026-01-20,Delivered,C4012,Angela Collins,India,Kentucky,South Margaretshire,...,step,Electronics,Laptop,"Sandoval, Buckley and Solis",1,18487.99,0.06,114.15,17492.8606,Card
4,A10004,2026-01-27,2026-01-04,2026-01-23,Delivered,C1328,David Davidson DDS,India,North Dakota,Velasquezview,...,bit,Home,Kitchen,"Key, Bautista and Bowen",1,1742.25,0.10,40.47,1608.4950,UPI

In [3]:
amazon_sales['country'].replace("India", "USA", inplace=True)
amazon_sales.head()

,order_id,order_date,ship_date,delivery_date,order_status,customer_id,customer_name,country,state,city,...,product_name,category,sub_category,brand,quantity,unit_price,discount,shipping_cost,total_sales,payment_method
0,A10000,2026-01-31,2026-01-31,2026-01-08,Delivered,C5691,Ricky Potter,USA,South Carolina,New Joe,...,without,Home,Furniture,Doyle-Jordan,3,42467.79,0.26,60.85,94339.3438,Card
1,A10001,2026-01-20,2026-02-03,2026-02-03,Delivered,C9811,Chris Davenport,USA,Tennessee,Madisonmouth,...,school,Home,Furniture,Davis LLC,2,36138.76,0.24,112.96,55043.8752,COD
2,A10002,2026-01-15,2026-02-07,2026-01-03,Delivered,C7341,Timothy Gallagher,USA,Iowa,East Larryberg,...,I,Electronics,Laptop,Watson and Sons,4,47148.93,0.14,64.11,162256.4292,UPI
3,A10003,2026-01-18,2026-01-15,2026-01-20,Delivered,C4012,Angela Collins,USA,Kentucky,South Margaretshire,...,step,Electronics,Laptop,"Sandoval, Buckley and Solis",1,18487.99,0.06,114.15,17492.8606,Card
4,A10004,2026-01-27,2026-01-04,2026-01-23,Delivered,C1328,David Davidson DDS,USA,North Dakota,Velasquezview,...,bit,Home,Kitchen,"Key, Bautista and Bowen",1,1742.25,0.10,40.47,1608.4950,UPI

In [4]:
amazon_sales.shape

(10000, 21)

In [5]:
amazon_sales.dtypes

order_id           object
order_date         object
ship_date          object
delivery_date      object
order_status       object
customer_id        object
customer_name      object
country            object
state              object
city               object
product_id         object
product_name       object
category           object
sub_category       object
brand              object
quantity            int64
unit_price        float64
discount          float64
shipping_cost     float64
total_sales       float64
payment_method     object
dtype: object

In [6]:
amazon_sales.describe()

          quantity    unit_price      discount  shipping_cost    total_sales
count  10000.00000  10000.000000  10000.000000   10000.000000   10000.000000
mean       3.01440  25126.511133      0.149968      85.053192   64212.910555
std        1.42035  14343.922332      0.086828      37.575284   50992.635082
min        1.00000    214.200000      0.000000      20.010000     309.939600
25%        2.00000  12657.827500      0.070000      52.507500   24037.196775
50%        3.00000  24880.490000      0.150000      84.995000   50287.177500
75%        4.00000  37544.640000      0.220000     117.680000   93417.891825
max        5.00000  49981.880000      0.300000     149.950000  249155.530000

In [7]:
amazon_sales.isnull().sum()

order_id          0
order_date        0
ship_date         0
delivery_date     0
order_status      0
customer_id       0
customer_name     0
country           0
state             0
city              0
product_id        0
product_name      0
category          0
sub_category      0
brand             0
quantity          0
unit_price        0
discount          0
shipping_cost     0
total_sales       0
payment_method    0
dtype: int64

In [8]:
amazon_sales.nunique()

order_id          10000
order_date           41
ship_date            41
delivery_date        41
order_status          1
customer_id        6016
customer_name      9412
country               1
state                50
city               7647
product_id          900
product_name        971
category              3
sub_category          7
brand              8659
quantity              5
unit_price         9992
discount             31
shipping_cost      6973
total_sales       10000
payment_method        4
dtype: int64

In [9]:
amazon_sales['payment_method'].nunique()

4

In [10]:
# Drop IDs and names (not useful)

amazon_sales = amazon_sales.drop(columns=['order_id', 'customer_id', 'customer_name','product_id', 'product_name', 'brand'])

In [11]:
# Convert to datetime
amazon_sales['order_date'] = pd.to_datetime(amazon_sales['order_date'], errors='coerce')
amazon_sales['ship_date'] = pd.to_datetime(amazon_sales['ship_date'], errors='coerce')
amazon_sales['delivery_date'] = pd.to_datetime(amazon_sales['delivery_date'], errors='coerce')

# Feature Engineering

In [12]:

# Gross Sales = quantity × unit_price
amazon_sales['gross_sales'] = amazon_sales['quantity'] * amazon_sales['unit_price']

# Net Sales = total_sales – discount – shipping_cost
amazon_sales['net_sales'] = amazon_sales['total_sales'] - amazon_sales['discount'] - amazon_sales['shipping_cost']

# Profit Margin (%) = (Net Sales ÷ Gross Sales) × 100
amazon_sales['profit_margin_pct'] = (amazon_sales['net_sales'] / amazon_sales['gross_sales']).where(amazon_sales['gross_sales'] != 0) * 100

# Delivery Time (days) = delivery_date – ship_date
amazon_sales['delivery_time_days'] = (amazon_sales['delivery_date'] - amazon_sales['ship_date']).dt.days

# Flag for Pending Delivery (delivery_date missing)
amazon_sales['delivery_pending'] = amazon_sales['delivery_date'].isna()

# Customer Location (combine city, state, country)
amazon_sales['customer_location'] = amazon_sales['city'] + ", " + amazon_sales['state'] + ", " + amazon_sales['country']

# Discount Percentage = discount ÷ gross_sales
amazon_sales['discount_pct'] = (amazon_sales['discount'] / amazon_sales['gross_sales']).where(amazon_sales['gross_sales'] != 0) * 100

# Shipping Efficiency = shipping_cost ÷ gross_sales
amazon_sales['shipping_efficiency'] = (amazon_sales['shipping_cost'] / amazon_sales['gross_sales']).where(amazon_sales['gross_sales'] != 0)

In [13]:
print(amazon_sales[['gross_sales','net_sales','profit_margin_pct',
                    
                    'delivery_time_days','delivery_pending', 'customer_location',
                    
                    'discount_pct','shipping_efficiency']].head())

   gross_sales    net_sales  profit_margin_pct  delivery_time_days  \
0    127403.37   94278.2338          73.999796                 -23
1     72277.52   54930.6752          75.999668                   0
2    188595.72  162192.1792          85.999926                 -35
3     18487.99   17378.6506          93.999675                   5
4      1742.25    1567.9250          89.994260                  19

   delivery_pending                   customer_location  discount_pct  \
0             False        New Joe, South Carolina, USA      0.000204
1             False        Madisonmouth, Tennessee, USA      0.000332
2             False           East Larryberg, Iowa, USA      0.000074
3             False  South Margaretshire, Kentucky, USA      0.000325
4             False    Velasquezview, North Dakota, USA      0.005740

   shipping_efficiency
0             0.000478
1             0.001563
2             0.000340
3             0.006174
4             0.023229

In [14]:
# List of categorical columns
categorical_cols = ['order_status','country','state','city','category','sub_category','payment_method']

# Convert each column to categorical
for col in categorical_cols:
    amazon_sales[col] = amazon_sales[col].astype('category')


amazon_sales[categorical_cols].dtypes

order_status      category
country           category
state             category
city              category
category          category
sub_category      category
payment_method    category
dtype: object

In [15]:
amazon_sales[categorical_cols].head()

,order_status,country,state,city,category,sub_category,payment_method
0,Delivered,USA,South Carolina,New Joe,Home,Furniture,Card
1,Delivered,USA,Tennessee,Madisonmouth,Home,Furniture,COD
2,Delivered,USA,Iowa,East Larryberg,Electronics,Laptop,UPI
3,Delivered,USA,Kentucky,South Margaretshire,Electronics,Laptop,Card
4,Delivered,USA,North Dakota,Velasquezview,Home,Kitchen,UPI

# Machine Learning

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [17]:
# --- Features and target ---

X = amazon_sales[['quantity','unit_price','discount','shipping_cost',
                  'gross_sales','profit_margin_pct','delivery_time_days',
                  'customer_location','category','sub_category','payment_method']]
y = amazon_sales['net_sales']   # regression target

# --- Split ---

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# --- Preprocessing ---

categorical_cols = ['customer_location','category','sub_category','payment_method']
numeric_cols = ['quantity','unit_price','discount','shipping_cost','gross_sales','profit_margin_pct','delivery_time_days']

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols),
        ('num', 'passthrough', numeric_cols)
    ])

# --- Model pipeline ---

model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(n_estimators=100, random_state=42))
])

# --- Train ---

model.fit(X_train, y_train)

# --- Evaluate ---

y_pred = model.predict(X_test)
print("RMSE:", mean_squared_error(y_test, y_pred, squared=False))
print("R²:", r2_score(y_test, y_pred))

RMSE: 575.9965066380632
R²: 0.9998730395278351

In [17]:
import joblib

# Save trained model
joblib.dump(model, "sales_forecast_model.pkl")

['sales_forecast_model.pkl']